*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
body{

  background-image: url("../public/assets/backheader.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.logo-img {
  width: 100px; /* حجم الشعار */
}

.other-images {
  display: flex;
  gap: 6px;
}

.header-img {
  width:60px; /* حجم الصور الإضافية */
  height: auto;
}
.quiz-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9fafb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.quiz-container h2{
margin-bottom: 20px;
}

.option-button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

.option-button:hover {
  background-color: #3730a3;
}

.result-container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.result-container img{
  width: 50%;
  height: auto;
}
